In [1]:
# Multiple Inheritance by using the teacher inherits from person and employee

class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def display(self):
    print("Name :", self.name)
    print("Age :", self.age)

class employee:
  def __init__(self,empid,salary):
    self.empid=empid
    self.salary=salary

  def display(self):
    print("Empid :", self.empid)
    print("Salary :", self.salary)

class Teacher(person,employee):
    def __init__(self,name,age,empid,salary,dept):
      person.__init__(self,name,age)
      employee.__init__(self,empid,salary)
      self.dept=dept

    def display(self):
      person.display(self)
      employee.display(self)
      print("Dept :", self.dept)

pass

teacher = Teacher("Sayan",20,2448048,50000,"1MDS")
teacher.display()

Name : Sayan
Age : 20
Empid : 2448048
Salary : 50000
Dept : 1MDS